<div class="box">

	<% if flash[:notice] %>
		<div class="flash"><%= flash[:notice] %></div>
	<% end %>

	<h1>Editing Book</h1>

	<div class="error">
	<% if @book.errors.any? %>
		<p class="error-text"><%= @book.errors.count %>errors prohibited this book from being saved: </p>
	    <div id="error_explanation" class="alert alert-danger">
		  	<ul>
		      <% @book.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
	    </div>
	<% end %>
	</div>

	<%= form_for(@book) do |f| %>
		<p>Title</p>
		<div class="text-box"><%= f.text_field :title %></div>
		<p>Body</p>
		<div class="text-box"><%= f.text_area :body %></div>
		<div class="edit-button"><%= f.submit 'Update Book' %></div>
	<% end %>
	<div class="show-button"><%= link_to "Show", book_path %></div>
	<div class="edit-solid">|</div>
	<div class="back-button"><%= link_to "Back", books_path %></div>
</div>
