<h1>Books</h1>

<p class="text">title<p>
<p class="text">body<p>

<%= @books.each do |book| %>
	<div class="book-box">
		<span class="book-text"><%= book.title %></span>
		<span class="book-body"><%= book.body %></span>
		<%= link_to "Show", book_path(book) %>
		<%= link_to "Edit", edit_book_path(book.id) %>
	</div>
<% end %>


<h3>New book</h3>
<%=form_for(@book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>

	<p>Body</p>
	<%= f.text_area :body %>

	<%= f.submit "Create Book"%>
<% end %>