<div class="box">
	<% if flash[:notice] %>
		<div class="flash"><%= flash[:notice] %></div>
	<% end %>

	<div class="show clearfix">
		<h4>Title:</h4>
		<p class="show-text"><%= @book.title %></p>
	</div>
	<div class="show clearfix">
		<h4>Body:</h4>
		<p class="show-text"><%= @book.body %></p>
    </div>


	<div class="button-edit"></button><%= link_to "Edit", edit_book_path %></div>
	<div class="solid">|</div>
	<div class="button-back"><%= link_to "Back", books_path %></div>

</div>